<wizard on-finish="finishImport()">
    <wz-step title="Select file">
        <div class="import-step col-sm-8 col-sm-offset-2">
            <h2>Subir archivo</h2>
            <p>Tiene que ser un archivo csv.</p>
            <div>
                <div class="col-sm-12" ng-show="loading">
                    loading...
                </div>
                <span>Selecciona el archivo para importar</span>
                <button type="file" ngf-select="uploadFiles($file)" accept="text/csv" ngf-max-size="3MB" class="btn btn-default">
                    <i class="fa fa-upload"></i> Select File
                </button>
                <br><br>
                File:
                <div style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}
                    <span class="progress" ng-show="f.progress >= 0">
                        <div style="width:{{f.progress}}%" ng-bind="f.progress + '%'">
                        </div>
                    </span>
                </div>
                {{errorMsg}}
            </div>

            <input type="submit" wz-next value="Continue" ng-show="doneUploading" class="btn btn-default" />
        </div>
    </wz-step>
    <wz-step title="Select columns">
        <div class="import-step col-sm-8 col-sm-offset-2">
            <h1>Selecciona las columnas</h1>
            <p>You have continued here!</p>

            <table class="table">
                <thead>
                    <tr>
                        <th>Columna entidad</th>
                        <th>Columna archivo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(key, value) in colDef">
                        <td class="text-right">
                            {{key}}
                        </td>
                        <td>
                            <select ng-model="colDef[key]" class="form-control">
                                <option ng-repeat="colF in colsFile">{{colF}}</option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="form-group">
                <p>¿Estos contactos pertenecen a una cuenta?</p>
                <select ng-model="colDef.accountId" class="form-control" ng-options="account.id as account.name for account in availableAccounts"></select>
            </div>

            <input type="submit" wz-next value="Continuar" class="btn btn-default btn-lg" />
        </div>

    </wz-step>
    <wz-step title="Confirm">
        <div class="import-step col-sm-8 col-sm-offset-2">
            <div class="form-horizontal">
                <div class="form-group">
                    <p>Confirmar importación</p>
                    <ul>
                        <li ng-repeat="(key, value) in colDef">
                            {{ key}} <i class="fa fa-arrow-right"></i> {{value}}
                        </li>
                    </ul>
                </div>

            </div>
            <input type="submit" wz-next value="Importar" class="btn btn-success btn-lg" />
        </div>
    </wz-step>
</wizard>
